/* modal */
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  padding: 1rem;
}

.modalContainer {
  background-color: #fdfaf1; 
  width: 100%;
  max-width: 500px;
  padding: 2.5rem;
  border-radius: 1rem;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
  position: relative;
  animation: modalPop 0.3s ease-out;
}

.modalContainer  h2{
  margin-bottom: 2rem;
  font-size: 1.5rem;
}

.formContainer {
    margin-bottom: 1.2rem;
    display: flex;
    flex-direction: column;
}

.formContainer label {
    font-size: 1.2rem;
    font-weight: 600;
    color: #666;
    margin-bottom:0.5rem;
}

.formContainer input {
    padding: 1rem 1.5rem;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 1.2rem;
    transition: border-color 0.2s, box-shadow 0.2s;
}

.formContainer input:focus {
  outline: none;
  border-color: #51654f;
  box-shadow: 0 0 0 3px rgba(81, 101, 79, 0.1);
}
.btnGroup {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin-top: 2rem;
}

.btnGroup button {
  font-size: 1.2rem;
  padding: 0.75rem 1.5rem;
}

.cancelBtn {
  background: none;
  border: none;
  color: #555;
  font-weight: 600;
}

.deleteBtn {
  background-color: #ff4d4d;
  color: white;
  border: none;
  margin-right: auto; 
}

.deleteBtn:hover {
  background-color: #cc0000;
}
